plots
data
data.tar.gz
data.zip
models
models.tar.gz
models.zip
notebooks/pickles
notebooks/pickles.tar.gz
notebooks/pickles.zip
pickles.tar.gz
*.tar.gz
pyRRG
astro-env
*.pyc
notebooks/plots
plots
*.zip
notebooks/*.zip